body, #wrapper {
    background-color: #02203c;
}
#wrapper {
    margin: 0 auto;
    color:white;
    font-size: 48px;
    font-family: monospace;
    display: flex;
    align-items: center;
}
#logo {
    height: 10px;
    width: 10px;
    border: 5px solid white;
    border-radius: 100%;
    position: relative;
    margin: 0 50px;
}
#logo:before, #logo:after{
    content:"";
    width: 100px;
    height: 30px;
    border-radius: 50%;
    border: 50% solid white;
    display: block;
    position: absolute;
  }
  #logo::after{
    transform: translate(-50px, -15px) rotate(-45deg);
  }
  #logo::before {
    transform: translate(-50px, -15px) rotate(45deg);
  }